/* General Blueprint Style */


@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('fonts/bpicons/bpicons.eot');
	src: url('fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('fonts/bpicons/bpicons.woff') format('woff'), url('fonts/bpicons/bpicons.ttf') format('truetype'), url('fonts/bpicons/bpicons.svg#bpicons') format('svg');
}/* Made with http://icomoon.io/ */


/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	overflow: hidden;
	margin: 0;
	color: #E9F5F1;
	background: #410E0B;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #BFAA41;
	outline: none;
}

a:hover {
	color: #E9F5F1;
}

.container {
	overflow-y: auto;
	height: 100vh;
}
.title{
	
	color: #BFAA41;
	background-color:  #260A06;
	width:400px;
	padding-left:30px;
	margin-left:10px;
	padding-right:30px;
	
}

/* Blueprint header */

.bp-header {
	display: -webkit-flex;
	display: flex;
}

.bp-header__main {
	margin: 0 0 0 auto;
	padding: 2em 3em 0;
	text-align: right;
}

.bp-header__title {
	font-size: 1.3em;
	font-weight: 400;
	line-height: 1.3;
	margin: 0.25em 0 0;
}

.bp-header__present {
	font-size: 0.75em;
	font-weight: 700;
	position: relative;
	z-index: 100;
	display: block;
	margin: 0 -8px 0 0;
	padding: 0 0 0.6em 0;
	text-indent: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	background: #BFAA41;
	content: attr(data-content);
}

.bp-tooltip:after {
	position: relative;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 0;
	height: 0;
	content: attr(data-content);
}

.bp-tooltip:hover:before {
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	top: 1.5em;
	right: 0;
	width: 50vw;
	padding: 0.8em 1em;
	text-align: right;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #fff;

}

.bp-nav {
	margin: 0.5em 0 0 auto;
	text-align: right;
	
}

.bp-nav__item {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 0.1em;
	text-align: left;
	border-radius: 50%;
	background: #fff;
	content: attr(data-content);
	
}

.bp-nav__item > span {
	display:none;
	content: attr(data-content);
	
}

.bp-nav__item:hover:before {
	content: attr(data-info);
	font-size: 0.85em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	pointer-events: none;
	color: #260A06;
}
.bp-nav__item:hover:after {
	content: attr(data-info);
	font-size: 0.85em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	pointer-events: none;
	color: #260A06;
}

.bp-nav__item:hover {
	background: #260A06;
}

.bp-icon:after {
	font-family: 'UrbanGardening';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #BFAA41;
	-webkit-font-smoothing: antialiased;
	speak: none;
}

.bp-nav .bp-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}


.bp-nav a:hover:after {
	color: #fff;
}
#ViewMeals{
	background:url('../img/Botany.png'); 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;"
}
#ViewSavedRecipes {
		background:url('../img/Vegetable-little-Garden.png'); 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;"
	
}
#ViewProfile{
		background:url('../img/Urban-Garden.png'); 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;"
}

.bp-icon--next:after {
	background:url('Botany.png'); 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;"
/* 	content:url'img\UrbanGardening\PNG\128\Botany.png'; */
}

.bp-icon--drop:after {
	content:'\Botany.png'";
/* 	content: '*'; */
}

.bp-icon--archive:after {
	content:'Botany';
/* 	content: '*'; */
}

.bp-icon--about:after {
	content:'Botany';
/* 	content: '*'; */
}

.bp-icon--prev:after {
	content:'Botany';
/* 	content: '*'; */
}

.dummy-logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 120px;
	padding: 1em 0 0 0;
	text-align: center;
	color: #BFAA41;
	background: #260A06;
}

.dummy-icon {
	font-size: 4em;
	background: #BFAA41;
}

.dummy-heading {
	font-size: 0.75em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.content {
	position: relative;
	min-height: 700px;
	min-weight: auto;
	margin: 0 0 0 300px;
}




.content--loading {
	background: url(../img/loading.svg) no-repeat 50% 50%;
}

.about {
	margin: 0;
	padding: 2em;
	text-align: center;
	
}

.products {
	list-style: none;
	padding: 0 0 50px 0;
	margin: 0;
	position: relative; 
	
}
.product > a:hover > .productTitle{

color: #260A06 ;
	background-color:  #BFAA41;


}
.productTitle {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 1.6em;

	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
	 position: absolute; 
	 width: 250px;
	 height:auto;
	 color: #BFAA41;
	background-color:  #260A06;
	opacity:0.79;
		
  
 
	
}
.productTitle:before {}

.product {
	display: inline-block;
		margin: 5px;

	width: 250px;
	height: 250px;
	
	
}
.productImage {
	border-radius: 2px;
		width: 250px;
	height: 250px;
}




.info {
	font-size: 1.1em;
	font-weight: bold;
	padding: 20vh 1em 0;
	text-align: center;
	color: #E9F5F1;
}

body #cdawrap {
	top: auto;
	bottom: 15px;
	background: rgba(0, 0, 0, 0.1);
}

body #cdawrap .carbon-text {
	color: #505158;
}

body #cdawrap a.carbon-poweredby {
	color: #7883c4;
}

body #cdawrap a:hover.carbon-poweredby {
	color: #fff;
}

/*  Details page */
.image{
	width: 200px;
	height: 200px;
}

.imageDetail{
	width: 500px;
	height: auto;
}
.detailsHead{
	 position: relative; 
}
.recipeTitle{
	 position: absolute; 
	top: 20px; 
   left: 0; 
   width: 350px; 
    color: #BFAA41;
    background-color:  rgba(38,10,6,0.8)  ;
    margin-left: 10px;
    padding-left: 10px;
    font-size:2.8em;
    
	
}
#background {
	width: 300px; 
	background-color:  #260A06;
	
}

recipeTitle span{

	color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   
}
   
.about h1{
	color: #BFAA41;
	background-color:  #260A06;
	 padding: 10px; 
	
	
	
}

.logo{
	width: 200px;
	height: 100px;
}
.aboutTitle {
	color: #BFAA41;
	background-color:  #260A06;
	width:400px;
	align: center;
	padding-left:30px;
	margin-left:10px;
	padding-right:30px;
}



@media screen and (max-width: 40em) {
	.bp-header {
		padding-top: 3em;
	}
	.bp-header__main,
	.bp-nav {
		width: 100%;
		text-align: center;
	}
	.dummy-logo {
		display: none;
	}
	.content {
		margin: 0;
	}
	body,
	.container {
		height: auto;
		overflow: auto;
	}
}
